@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	@apply max-w-[1400px] mx-auto;
}

.bottom-nav-enter {
	transition: transform 0.5s ease-out;
}

.bottom-nav-enter-active {
	transform: translateX(0);
}

.bottom-nav-exit {
	transition: transform 0.5s ease-in;
}

.bottom-nav-exit-active {
	transform: translateY(100%);
}
